# azure-pipelines-temp.yml
trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'
    displayName: 'Install Node.js'

  - script: |
      npm ci
      npm run build
    displayName: 'Install dependencies and run npm build'

  - task: CopyFiles@2
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: 'web.config'
      targetFolder: 'build'
      overWrite: true
    displayName: 'Copy web.config to build directory'

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: 'build'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/website.zip'
      replaceExistingArchive: true
    displayName: 'Archive website files'
    condition: succeeded()

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: 'website-archive'
      publishLocation: 'Container'
    displayName: 'Publish archived build artifacts'
    condition: succeeded()